{
  "$schema": "https://mintlify.com/schema.json",
  "name": "Prem",
  "logo": {
    "dark": "/logo.svg",
    "light": "/logo.svg"
  },
  "openapi" : "https://app.premai.io/api/schema/",
  "metadata": {
    "og:image": "https://static.premai.io/prem-saas-docs/metadata.jpg"
  },
  "favicon": "/favicon.png",
  "colors": {
    "primary": "#23211F",
    "light": "#a986c5",
    "dark": "#23211F",
    "anchors": {
      "from": "#23211F",
      "to": "#a986c5"
    }
  },
  "topbarLinks": [
    {
      "name": "Support",
      "url": "mailto:info@premai.io"
    }
  ],
  "topbarCtaButton": {
    "name": "Dashboard",
    "url": "https://app.premai.io"
  },
  "tabs": [
    {
      "name": "API Reference",
      "url": "api-reference"
    }
  ],
  "anchors": [
    {
      "name": "Community",
      "icon": "discord",
      "url": "https://discord.com/invite/kpKk6vYVAn"
    },
    {
      "name": "Blog",
      "icon": "newspaper",
      "url": "https://blog.premai.io"
    }
  ],
  "navigation": [
    {
      "group": "Get started",
      "pages": [
        "get-started/why-prem",
        "introduction"
      ]
    },
    {
      "group": "Guides",
      "pages": 
      [
        "get-started/projects",
        "get-started/lab",
        "get-started/monitoring",
        "get-started/repositories",
        "get-started/launchpad",
        "get-started/gym",
        "get-started/sdk",
        "get-started/function-calling",
        "get-started/autopilot",
        "get-started/chat-completion-sse",
        "get-started/prem-templates",
        "get-started/supported-models", 
        "get-started/credits"
      ]
    },
    {
      "group": "Integrations",
      "pages": [
        "integrations/llamaindex",
        "integrations/langchain",
        "integrations/dspy", 
        "integrations/embedchain", 
        "integrations/qdrant"
      ]
    },
    {
      "group": "Resources",
      "pages": [
        "resources/faq"
      ]
    },
    {
      "group": "Cookbook",
      "pages": [
        "cookbook/chat-with-pdf", 
        "cookbook/url-content-summarizer",
        "cookbook/text-2-sql",
        "cookbook/chat-with-sql",
        "cookbook/arxiv-ml-qna"
      ]
    },
    {
      "group": "API Documentation",
      "pages": [
        "api-reference/introduction"
      ]
    }
  ],
  "footerSocials": {
    "website": "https://www.premai.io",
    "twitter": "https://twitter.com/premai_io",
    "github": "https://github.com/premAI-io",
    "linkedin": "https://www.linkedin.com/company/premai"
  },
  "analytics": {
      "plausible": {
          "domain": "docs.premai.io"
      }
  }
}
