# This file is automatically generated. Do not edit it directly. Edit the files in /openapi instead
openapi: 3.0.1
info:
  title: Commenda - Global Indirect Tax API
  description: API for managing indirect tax calculations, filings, and registrations in the United States.
  license:
    name: NONE
    url: NONE
  version: 1.0.0
servers:
  - url: https://transaction-tax.api.in.commenda.io/api/v1
security:
  - bearerAuth: []
paths:
  /webhooks:
    post:
      summary: Create a new webhook.
      description: Register your webhook with Commenda.
      operationId: registerWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
      responses:
        '200':
          description: Sales tax registration response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CreateWebhookResponse'
                  message:
                    type: string
                    example: Successfully registered webhook.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: List all webhook.
      description: Get a list of all webhooks registered with Commenda.
      operationId: listAllWebhooks
      responses:
        '200':
          description: Sales tax registration response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      webhooks:
                        $ref: '#/components/schemas/GetWebhookResponse'
                  message:
                    type: string
                    example: Successfully fetched webhooks.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webhooks/:id:
    post:
      summary: Update a webhook
      description: Update an existing webhook.
      operationId: updateWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookRequest'
      responses:
        '200':
          description: Sales tax registration response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Successfully updated webhook.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: Get a webhook.
      description: Get a webhook registered with Commenda.
      operationId: getWebhook
      responses:
        '200':
          description: Sales tax registration response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GetWebhookResponse'
                  message:
                    type: string
                    example: Successfully fetched webhook.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a webhook
      description: Delete an existing webhook.
      operationId: deleteWebhook
      responses:
        '204':
          description: Sales tax registration response
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webhooks/test/trigger/:id:
    post:
      summary: Test your webhook
      description: Trigger a test against your webhook.
      operationId: testWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event_data:
                  type: object
                  description: Data to inject into event.data. When the webhook will be triggered the event will have this data.
      responses:
        '200':
          description: Sales tax registration response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Successfully triggered webhook.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /products:
    post:
      summary: Add a new product.
      description: Create a new product for a corporation.
      operationId: createProduct
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProduct'
      responses:
        '200':
          description: Create product response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Product'
                  message:
                    type: string
                    example: Successfully created product.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: Get a product by id.
      operationId: getProduct
      parameters:
        - name: corporation_id
          in: query
          description: The unique identifier for a corporation to filter the products by.
          required: true
          schema:
            type: string
        - name: cursor
          in: query
          description: Cursor for pagination
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Number of items to return per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
      responses:
        '200':
          description: Fetch a product response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      products:
                        type: array
                        items:
                          $ref: '#/components/schemas/Product'
                      cursor:
                        type: string
                  message:
                    type: string
                    example: Successfully fetched products.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /products/bulk_upload/csv:
    post:
      summary: Bulk upload products
      description: Submit a CSV file of products for processing
      operationId: submitBulkProducts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - file_id
              properties:
                file_id:
                  type: string
                  description: The ID of a previously uploaded CSV file via the `/files` endpoint.
                corporation_id:
                  type: string
                  description: The unique identifier for a corporation to associate with these products.
      responses:
        '200':
          description: Successful product import job creation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      job:
                        $ref: '#/components/schemas/Job'
                  message:
                    type: string
                    example: Successfully started product import job.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /products/:id:
    post:
      summary: Update a product.
      description: Update an existing product by id.
      operationId: updateProduct
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProduct'
      responses:
        '200':
          description: Create product response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Successfully updated product.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: Get a product by id.
      operationId: getProductById
      responses:
        '200':
          description: Fetch a product response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Product'
                  message:
                    type: string
                    example: Successfully fetched product.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a product by id.
      operationId: deleteProduct
      responses:
        '204':
          description: Delete a product response.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /products/{id}/customs-code:
    post:
      summary: Add or update a customs code for a product.
      description: Manage customs code for each product by jurisdiction.
      operationId: updateProductCustomsCode
      parameters:
        - in: path
          required: true
          name: id
          schema:
            type: string
          description: The unique identifier of the product to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - country
                - customs_code
              properties:
                country:
                  $ref: '#/components/schemas/Country'
      responses:
        '200':
          description: Set product customs code response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Successfully set product customs code.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a customs code for a product.
      operationId: deleteProductCustomsCode
      parameters:
        - in: path
          required: true
          name: id
          schema:
            type: string
          description: The unique identifier of the product to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - country
              properties:
                country:
                  description: ISO 3166 2-letter country code representing the country to remove the country code for.
                  $ref: '#/components/schemas/Country'
      responses:
        '204':
          description: Deleted customs code for product.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /corporations:
    post:
      summary: Add a new corporation.
      description: Create a new corporation for a sales tax partner.
      operationId: createCorporation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCorporation'
      responses:
        '200':
          description: Sales tax registration response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Corporation'
                  message:
                    type: string
                    example: Successfully created corporation.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: Get all corporations.
      description: Get all corporations associated with a sales tax partner.
      operationId: getCorporations
      parameters:
        - name: cursor
          in: query
          description: Cursor for pagination
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Number of items to return per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
      responses:
        '200':
          description: Get all corporations response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    required:
                      - corporations
                    properties:
                      corporations:
                        type: array
                        items:
                          $ref: '#/components/schemas/Corporation'
                      cursor:
                        type: string
                  message:
                    type: string
                    example: Successfully fetched corporations.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /corporations/{id}:
    get:
      summary: Get corporation.
      description: Get a corporation by id.
      operationId: getCorporation
      parameters:
        - in: path
          required: true
          name: id
          schema:
            type: string
          description: The unique identifier of the corporation to fetch.
      responses:
        '200':
          description: Get one corporation response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Corporation'
                  message:
                    type: string
                    example: Successfully fetched corporation.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Update a corporation.
      description: Update details for a corporation.
      operationId: updateCorporation
      parameters:
        - in: path
          required: true
          name: id
          schema:
            type: string
          description: The unique identifier of the corporation to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCorporation'
      responses:
        '200':
          description: Update one corporation response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Successfully updated corporation.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete corporation.
      description: Delete a corporation by id.
      operationId: deleteCorporation
      parameters:
        - in: path
          required: true
          name: id
          schema:
            type: string
          description: The unique identifier of the corporation to delete.
      responses:
        '204':
          description: Delete one corporation response.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /registrations:
    post:
      summary: Create a registration
      description: Create a new sales tax registration using a registration_content_id obtained from the content/registration-input-options endpoint.
      operationId: createRegistration
      tags:
        - Registrations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRegistrationRequest'
      responses:
        '201':
          description: Registration created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RegistrationResponse'
                  message:
                    type: string
                    example: Successfully created registration.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /registrations/list:
    post:
      summary: List registrations
      description: List all registrations for a corporation with optional filters.
      operationId: listRegistrations
      tags:
        - Registrations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListRegistrationsRequest'
      responses:
        '200':
          description: Registrations retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      registrations:
                        type: array
                        items:
                          $ref: '#/components/schemas/RegistrationResponse'
                  message:
                    type: string
                    example: Successfully fetched registrations.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /registrations/{registration_id}:
    get:
      summary: Get a registration
      description: Retrieve a single registration by its ID.
      operationId: getRegistration
      tags:
        - Registrations
      parameters:
        - in: path
          required: true
          name: registration_id
          schema:
            type: string
            format: uuid
          description: The unique identifier of the registration.
      responses:
        '200':
          description: Registration retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RegistrationResponse'
                  message:
                    type: string
                    example: Successfully fetched registration.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Update a registration
      description: Update an existing registration with new details such as tax types, frequency, or credentials.
      operationId: updateRegistration
      tags:
        - Registrations
      parameters:
        - in: path
          required: true
          name: registration_id
          schema:
            type: string
            format: uuid
          description: The unique identifier of the registration to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRegistrationRequest'
      responses:
        '200':
          description: Registration updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RegistrationResponse'
                  message:
                    type: string
                    example: Successfully updated registration.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a registration
      description: Delete a registration. Only registrations with validation_status of PENDING, INVALID, or VALIDATION_IN_PROGRESS can be deleted. VALID registrations cannot be deleted - use close or archive instead.
      operationId: deleteRegistration
      tags:
        - Registrations
      parameters:
        - in: path
          required: true
          name: registration_id
          schema:
            type: string
            format: uuid
          description: The unique identifier of the registration to delete.
      responses:
        '204':
          description: Registration deleted successfully
        '400':
          description: Bad request - cannot delete VALID registrations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Registration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /registrations/{registration_id}/request-validation:
    post:
      summary: Request validation
      description: Submit a registration for validation by the Commenda team. Ensure all required fields (tax_registration_id, frequency, credentials) are set before calling this endpoint.
      operationId: requestRegistrationValidation
      tags:
        - Registrations
      parameters:
        - in: path
          required: true
          name: registration_id
          schema:
            type: string
            format: uuid
          description: The unique identifier of the registration to validate.
      responses:
        '200':
          description: Validation request submitted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RegistrationResponse'
                  message:
                    type: string
                    example: Successfully started validation process.
        '400':
          description: Bad request - missing required fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /registrations/{registration_id}/archive:
    post:
      summary: Archive a registration
      description: Archive a registration to stop tax calculations and hide from default list views. Archived registrations are completely excluded from tax processing. Use include_archived=true when listing to see archived registrations.
      operationId: archiveRegistration
      tags:
        - Registrations
      parameters:
        - in: path
          required: true
          name: registration_id
          schema:
            type: string
            format: uuid
          description: The unique identifier of the registration to archive.
      responses:
        '200':
          description: Registration archived successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RegistrationResponse'
                  message:
                    type: string
                    example: Successfully archived registration.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /registrations/{registration_id}/close:
    post:
      summary: Close a registration
      description: Close a registration when you stop selling in a jurisdiction. The registration remains active for tax calculations within its date range (effective_start_date to effective_end_date). Use this when you have historical obligations to preserve.
      operationId: closeRegistration
      tags:
        - Registrations
      parameters:
        - in: path
          required: true
          name: registration_id
          schema:
            type: string
            format: uuid
          description: The unique identifier of the registration to close.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloseRegistrationRequest'
      responses:
        '200':
          description: Registration closed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/RegistrationResponse'
                  message:
                    type: string
                    example: Successfully closed registration.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /registrations/content/available-jurisdictions:
    post:
      summary: List available jurisdictions
      description: Discover jurisdictions where you can create registrations. Use filters to narrow down by country, state, or tax type. Results are paginated using cursor-based pagination.
      operationId: listAvailableJurisdictions
      tags:
        - Registration Content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JurisdictionsRequest'
      responses:
        '200':
          description: Jurisdictions retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/JurisdictionsResponse'
                  message:
                    type: string
                    example: Successfully fetched jurisdictions.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /registrations/content/registration-input-options:
    post:
      summary: Get registration options
      description: Get available tax types, frequencies, and registration_content_ids for specific jurisdictions. The registration_content_id is required when creating a registration.
      operationId: getRegistrationInputOptions
      tags:
        - Registration Content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OptionsRequest'
      responses:
        '200':
          description: Options retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/OptionsResponse'
                  message:
                    type: string
                    example: Successfully fetched registration options.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /registrations/content/portal-fields:
    post:
      summary: Get portal credential fields
      description: Get the credential fields required for a specific registration content. These fields define what information you need to collect for automated tax filing.
      operationId: getPortalFields
      tags:
        - Registration Content
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PortalFieldsRequest'
      responses:
        '200':
          description: Portal fields retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/PortalFieldsResponse'
                  message:
                    type: string
                    example: Successfully fetched portal fields.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /calculate:
    post:
      summary: Calculate sales tax for a transaction
      operationId: calculateSalesTax
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxCalculationRequest'
      responses:
        '200':
          description: Successful tax calculation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaxCalculationResponse'
                  message:
                    type: string
                    example: Successfully calculated tax.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /calculate-customs-duty:
    post:
      summary: Calculate customs duty for a transaction
      operationId: calculateCustomsDuty
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomsDutyCalculationRequest'
      responses:
        '200':
          description: Successful customs duty calculation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      customs_rate:
                        type: number
                        description: Numeric value representing the customs duty rate as a percentage (e.g., 6.25 for 6.25%).
                        example: 10.25
                      customs_duty_amount:
                        type: number
                        example: 1.03
                        description: Numeric value representing the total amount of sales tax to be remitted for this particular line item.
                      customs_duty_currency:
                        $ref: '#/components/schemas/Currency'
                        description: ISO 4217 alpha-3 currency code for the customs duty amount.
                  message:
                    type: string
                    example: Successfully calculated tax.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /address-requirements:
    get:
      summary: Get address requirements for a country
      description: Returns the minimum address field requirements for a given country. Use this to determine which address fields are required, optional, or ignored when submitting addresses for tax calculations and transactions.
      operationId: getAddressRequirements
      parameters:
        - name: country
          in: query
          description: A valid 2-letter ISO 3166-1 alpha-2 country code (e.g., US, CA, GB).
          required: true
          schema:
            type: string
            example: US
      responses:
        '200':
          description: Address requirements for the specified country
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AddressRequirementsResponse'
                  message:
                    type: string
                    example: Successfully retrieved address requirements.
        '400':
          description: Bad request — missing or invalid country parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No address requirements found for the specified country
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /transactions:
    post:
      summary: Create a transaction
      description: Submit a completed transaction for processing and filing
      operationId: submitTransaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaxTransactionRequest'
      responses:
        '200':
          description: Transaction creation response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaxTransactionResponse'
                  message:
                    type: string
                    example: Successfully created transaction.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: List transactions
      description: List all transactions that match this query
      operationId: listTransactions
      parameters:
        - name: corporation_id
          in: query
          description: The unique identifier of the corporation for which to retrieve data.
          required: true
          schema:
            type: string
        - name: cursor
          in: query
          description: Cursor for pagination
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Number of items to return per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: type
          in: query
          description: Filter by a single transaction type. Superseded by `types` if both are provided.
          required: false
          schema:
            $ref: '#/components/schemas/transaction_type'
        - name: types
          in: query
          description: |-
            Filter by one or more transaction types. Takes priority over `type` when both are provided.
            If neither `types` nor `type` is specified, defaults to `[SALE, REFUND, RETURN]` — PURCHASE and PURCHASE_REFUND are excluded unless explicitly requested.
          required: false
          schema:
            type: array
            items:
              $ref: '#/components/schemas/transaction_type'
      responses:
        '200':
          description: List of transactions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      transactions:
                        type: array
                        items:
                          $ref: '#/components/schemas/TaxTransactionResponse'
                      cursor:
                        type: string
                        description: Pagination cursor for the next set of results
                  message:
                    type: string
                    example: Successfully fetched transactions.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /transactions/{id}:
    get:
      summary: Get one transaction
      description: Retrieve one transaction by its identifier
      operationId: getTransaction
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: The unique identifier of the transaction to fetch.
      responses:
        '200':
          description: Transaction fetch response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/TaxTransactionResponse'
                  message:
                    type: string
                    example: Successfully fetched transaction.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a transaction
      description: Deletes a transaction by its identifier
      operationId: deleteTransaction
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: The unique identifier of the transaction to delete.
      responses:
        '204':
          description: Transaction successfully deleted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /transactions/refund-transactions/{parent-transaction-id}:
    post:
      summary: Create a return transaction
      description: |-
        Create a refund transaction linked to an existing invoice. The parent transaction can be a SALE or PURCHASE.
        When the parent is a SALE, the refund type is RETURN. When the parent is a PURCHASE, the refund type is automatically set to PURCHASE_REFUND.
        The resulting transaction will be properly linked to the original transaction.
      operationId: refundTransaction
      parameters:
        - in: path
          name: parent-transaction-id
          required: true
          schema:
            type: string
          description: The unique identifier of the SALE or PURCHASE transaction to generate a return for.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRefundRequest'
      responses:
        '200':
          description: Transaction creation response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The unique identifier for the refund transaction.
                        example: 2535af08-a139-4d0c-9827-1651e46dfbcf
                  message:
                    type: string
                    example: Successfully created refund transaction.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /transactions/bulk:
    post:
      summary: Bulk submit transactions
      description: |-
        Submit a file of completed transactions for processing.
        The CSV file must include required fields for SALE, RETURN, and PURCHASE transactions.
        For RETURN and PURCHASE transactions, all line items must have negative total amounts. RETURN transactions should include parent_invoice_id when available.
      operationId: submitBulkTransactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The CSV file to upload.
                corporation_id:
                  type: string
                  description: The unique identifier for a corporation associated with this file.
      responses:
        '200':
          description: Transaction creation response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/BulkTransactionMetadata'
                  message:
                    type: string
                    example: Successfully uploaded transactions.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /nexus:
    get:
      summary: Get registration threshold exposure
      description: Get registration threshold exposure for a corporation. By default, returns US-state-level data. Pass `v2=true` to get global jurisdiction-level data covering US, Canada, UK, and EU jurisdictions, including support for multiple exposure rules per jurisdiction (for example, EU Union OSS, Non-Union OSS, and IOSS).
      operationId: getNexusDetails
      parameters:
        - name: corporation_id
          in: query
          description: The unique identifier for the corporation to retrieve registration threshold data for.
          required: true
          schema:
            type: string
        - name: v2
          in: query
          description: Set to `true` to use the global registration threshold engine. When enabled, the response uses a `jurisdictions` array with expanded fields including `jurisdiction_id`, `exposure_type`, `exposure_rule_id`, `subdivision`, and `currency`. When omitted or `false`, the legacy response format with a `states` array is returned.
          required: false
          schema:
            type: string
            enum:
              - 'true'
              - 'false'
      responses:
        '200':
          description: Registration threshold exposure data
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    title: Default response
                    description: Returned when `v2` is not set or `false`.
                    properties:
                      data:
                        $ref: '#/components/schemas/NexusResponse'
                      message:
                        type: string
                        example: Successfully fetched nexus.
                  - type: object
                    title: V2 response
                    description: Returned when `v2=true`.
                    properties:
                      data:
                        $ref: '#/components/schemas/NexusV2Response'
                      message:
                        type: string
                        example: Successfully fetched nexus.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /filings:
    get:
      summary: List filings
      description: List state and local sales tax filings for a corporation, filtered by query. Pass `v2=true` to use the V2 filings path, which supports additional filters (such as `registration_tax_type_id`, `jurisdiction_ids`, `filing_statuses`, `filing_frequencies`, `from_due_date`, and `to_due_date`) and opt-in expansions via the `extend` query parameter.
      operationId: listFilings
      parameters:
        - name: corporation_id
          in: query
          description: The unique identifier of the corporation for which to retrieve data.
          required: true
          schema:
            type: string
        - name: cursor
          in: query
          description: Cursor for pagination
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Number of items to return per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: v2
          in: query
          description: Set to `true` to use the V2 filings path, which returns V2 content metadata (such as `registration_tax_type_id`, `jurisdiction_name`, `jurisdiction_type`, and `filing_content_id`) and enables the additional filters and `extend` parameter documented below. When omitted or `false`, the legacy filings response is returned.
          required: false
          schema:
            type: string
            enum:
              - 'true'
              - 'false'
        - name: extend
          in: query
          description: Opt-in expansion for the V2 path (requires `v2=true`). Comma-separated list of expansion keys. The only supported value today is `filing_contribution`, which inlines the computed tax-return box contributions on each filing via a `contributions` array. When the parameter is omitted, the `contributions` field is not included in the response. Unknown values return a `400`.
          required: false
          schema:
            type: string
            example: filing_contribution
        - name: from_due_date
          in: query
          description: V2 path only (`v2=true`). ISO 8601 date string. Returns only filings whose due date is on or after this value.
          required: false
          schema:
            type: string
            format: date
        - name: to_due_date
          in: query
          description: V2 path only (`v2=true`). ISO 8601 date string. Returns only filings whose due date is on or before this value.
          required: false
          schema:
            type: string
            format: date
        - name: registration_tax_type_id
          in: query
          description: V2 path only (`v2=true`). Filter by V2 registration tax type content identifier (e.g., `REG_STATE_CEN_06_RST`).
          required: false
          schema:
            type: string
        - name: jurisdiction_ids
          in: query
          description: V2 path only (`v2=true`). Comma-separated list of Commenda jurisdiction identifiers to filter by. Maximum 100 values.
          required: false
          schema:
            type: string
            example: COUNTRY_DE_3018,STATE_CEN_06
        - name: filing_statuses
          in: query
          description: V2 path only (`v2=true`). Comma-separated list of filing statuses to filter by. Maximum 100 values.
          required: false
          schema:
            type: string
        - name: filing_frequencies
          in: query
          description: V2 path only (`v2=true`). Comma-separated list of filing frequencies to filter by. Maximum 100 values.
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Filing info for all states
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      filings:
                        type: array
                        items:
                          $ref: '#/components/schemas/FilingsForGetAll'
                      cursor:
                        type: string
                        description: Pagination cursor for the next set of results
                  message:
                    type: string
                    example: Successfully fetched filings.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /filings/{id}:
    get:
      summary: Get one filing
      description: Retrieve one filing by its id
      operationId: getFiling
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: The unique identifier of the transaction to fetch.
      responses:
        '200':
          description: Transaction fetch response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FilingsGet'
                  message:
                    type: string
                    example: Successfully fetched filing.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Filing not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /filings/{id}/contributions:
    get:
      summary: List filing contributions
      description: Retrieve the computed tax box values (contributions) for a specific filing. Each contribution represents a value that maps to a box on a tax return form, such as taxable sales or tax due. Contributions are ordered by box order, then by jurisdiction for multi-jurisdiction filings (e.g., EU OSS/IOSS).
      operationId: listFilingContributions
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
            format: uuid
          description: The unique identifier of the filing to retrieve contributions for.
      responses:
        '200':
          description: Filing contributions retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FilingContributionsResponse'
                  message:
                    type: string
                    example: Successfully fetched filing contributions.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Filing not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customers:
    post:
      summary: Create a customer
      description: Create a customer to track their exemption certificates and default values for their addresses.
      operationId: createCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreate'
      responses:
        '200':
          description: Information about the created customer
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CustomerInfo'
                  message:
                    type: string
                    example: Successfully created customer.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: List customers
      description: List customers associated with a corporation.
      operationId: listCustomers
      parameters:
        - name: corporation_id
          in: query
          description: The unique identifier for a corporation used to filter the relevant customer base.
          required: true
          schema:
            type: string
        - name: cursor
          in: query
          description: Cursor for pagination
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Number of items to return per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
      responses:
        '200':
          description: List of customers associated with the requesting corporation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GetAllCustomersByCorporation'
                  message:
                    type: string
                    example: Successfully fetched customers.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customers/{id}:
    get:
      summary: Get customer
      description: Get detailed information about a specific customer, including exemption certificates.
      operationId: getCustomer
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: The unique identifier of the customer to fetch.
      responses:
        '200':
          description: Detailed information about a specific customer
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/CustomerExtended'
                  message:
                    type: string
                    example: Successfully fetched customer.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Update a customer
      description: Update a customer, including their addresses and exemption certificates.
      operationId: updateCustomer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdate'
      responses:
        '200':
          description: Information about the customer after the update
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Successfully updated customer.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: The unique identifier of the transaction to update
    delete:
      summary: Delete a customer
      description: Deletes a customer by its id
      operationId: deleteCustomer
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: The unique identifier of the customer to delete.
      responses:
        '204':
          description: Customer successfully deleted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /exemption-certificates:
    get:
      summary: List all exemption certificates.
      description: Get a list of all exemption certificates.
      operationId: listAllExemptionCertificates
      parameters:
        - in: query
          name: customer_id
          required: true
          schema:
            type: string
          description: The unique identifier of the customer whose exemption certificate you want to fetch.
        - name: cursor
          in: query
          description: Cursor for pagination
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Number of items to return per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
      responses:
        '200':
          description: Sales tax exemption certificate response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      exemption_certificates:
                        type: array
                        items:
                          $ref: '#/components/schemas/ExemptionCertificateResponse'
                      cursor:
                        type: string
                        description: Pagination cursor for the next set of results.
                      total_exemptions:
                        type: number
                        description: Total number of exemption certificates.
                  message:
                    type: string
                    example: Successfully fetched exemption certificates.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create an exemption certificate
      description: Create an exemption certificate for a customer
      operationId: createExemptionCertificate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExemptionCertificateRequest'
      responses:
        '200':
          description: Successful exemption certificate creation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ExemptionCertificateResponse'
                  message:
                    type: string
                    example: Successfully created exemption certificate.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /exemption-certificates/{id}:
    get:
      summary: Get exemption certificate.
      description: Get a specific exemption certificate by id.
      operationId: getExemptionCertificate
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: The unique identifier of the exemption certificate to fetch.
      responses:
        '200':
          description: Get one exemption certificate response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ExemptionCertificateResponse'
                  message:
                    type: string
                    example: Successfully fetched exemption certificate.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      operationId: deleteExemptionCertificate
      summary: Delete exemption certificate
      description: Delete an exemption certificate. This does not delete the associated file.
      parameters:
        - in: path
          required: true
          name: id
          schema:
            type: string
          description: The unique identifier of the exemption certificate to delete.
      responses:
        '204':
          description: Exemption certificate successfully deleted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Exemption certificate not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /files:
    get:
      summary: List files
      description: List files for one seller
      operationId: listFiles
      parameters:
        - name: corporation_id
          in: query
          description: The unique identifier of the corporation for which to retrieve data.
          required: true
          schema:
            type: string
        - name: cursor
          in: query
          description: Cursor for pagination
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Number of items to return per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
      responses:
        '200':
          description: List of files
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      files:
                        type: array
                        items:
                          $ref: '#/components/schemas/FileInfo'
                      cursor:
                        type: string
                        description: Pagination cursor for the next set of results
                  message:
                    type: string
                    example: Successfully fetched files.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create file
      description: Upload a new file to Commenda's server
      operationId: createFile
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The file to upload
                corporation_id:
                  type: string
                  description: The unique identifier for a corporation associated with this file.
      responses:
        '200':
          description: Information about the created file
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FileInfo'
                  message:
                    type: string
                    example: Successfully created file.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /files/{id}:
    get:
      summary: Get one file
      description: Retrieve one file by its id, along with a signed URL to download it
      operationId: getFile
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: The unique identifier of the file to fetch.
      responses:
        '200':
          description: File along with a download URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                      - $ref: '#/components/schemas/FileInfo'
                      - type: object
                        properties:
                          signed_url:
                            type: string
                            description: Signed URL to download the file. Expires after 20 minutes.
                            example: https://bucket-name.s3.amazonaws.com/example.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIOSFODNN7EXAMPLE%2F20240912%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20240912T120000Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6q7r8s9t0u1v2w3x4y5z6
                  message:
                    type: string
                    example: Successfully fetched file.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      summary: Delete a file
      description: Deletes a file by its id
      operationId: deleteFile
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
          description: The unique identifier of the file to delete.
      responses:
        '204':
          description: File successfully deleted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /public/company:
    post:
      summary: Create a company
      description: Create a new company container for partner and legacy affiliate workflows. Partner Incorporation API callers should save the returned `companyId`.
      operationId: createAffiliateCompany
      servers:
        - url: https://api.prod.commenda.io/api/v1
      security:
        - xApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AffiliateCreateCompanyRequest'
      responses:
        '201':
          description: Company created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateCreateCompanyResponse'
        '400':
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '401':
          description: Missing or invalid partner or affiliate API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
  /public/services:
    post:
      summary: Create an incorporation service for a company
      description: Start a supported incorporation service for an affiliate-owned company and return the linked payment intent id.
      operationId: createAffiliateService
      servers:
        - url: https://api.prod.commenda.io/api/v1
      security:
        - xApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AffiliateCreateServiceRequest'
      responses:
        '201':
          description: Service and payment intent created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateCreateServiceResponse'
        '400':
          description: Unsupported service type or company not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '401':
          description: Missing or invalid affiliate API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '403':
          description: Company is not accessible to the affiliate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
  /partner/incorporation/jurisdiction-catalog:
    get:
      summary: List supported incorporation jurisdictions
      description: Retrieve the informational catalog of supported incorporation countries and country-specific options. This endpoint helps clients render valid choices, but the create endpoint remains the source of truth for validation.
      operationId: getPartnerIncorporationJurisdictionCatalog
      servers:
        - url: https://api.prod.commenda.io/api/v1
      security:
        - xApiKeyAuth: []
      responses:
        '200':
          description: Jurisdiction catalog retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerJurisdictionCatalogResponse'
        '401':
          description: Missing or invalid partner API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
  /partner/incorporation/requirements:
    get:
      summary: Get incorporation requirements
      description: Retrieve the current requirements DSL for a selected incorporation jurisdiction and type. This endpoint is informational; intake updates are validated against the current server-side DSL.
      operationId: getPartnerIncorporationRequirements
      servers:
        - url: https://api.prod.commenda.io/api/v1
      security:
        - xApiKeyAuth: []
      parameters:
        - name: country
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/PartnerIncorporationCountry'
          description: Incorporation country.
          example: SG
        - name: countryOptions
          in: query
          required: true
          style: deepObject
          explode: true
          schema:
            $ref: '#/components/schemas/PartnerIncorporationCountryOptions'
          description: Country-specific options using deep-object query syntax, for example `countryOptions[corporationType]=PRIVATE_LIMITED_COMPANY`.
      responses:
        '200':
          description: Requirements retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerRequirementsResponse'
        '400':
          description: Unsupported or malformed incorporation selection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '401':
          description: Missing or invalid partner API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '404':
          description: Requirements are not available for the requested selection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
  /partner/incorporation/status-workflow:
    get:
      summary: Get incorporation status workflow
      description: Retrieve the public status workflow for a selected incorporation jurisdiction and type. The response is derived from the active workflow template and includes ordered public stages.
      operationId: getPartnerIncorporationStatusWorkflow
      servers:
        - url: https://api.prod.commenda.io/api/v1
      security:
        - xApiKeyAuth: []
      parameters:
        - name: country
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/PartnerIncorporationCountry'
          description: Incorporation country.
          example: SG
        - name: countryOptions
          in: query
          required: true
          style: deepObject
          explode: true
          schema:
            $ref: '#/components/schemas/PartnerIncorporationCountryOptions'
          description: Country-specific options using deep-object query syntax, for example `countryOptions[corporationType]=PRIVATE_LIMITED_COMPANY`.
      responses:
        '200':
          description: Status workflow retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerIncorporationStatusWorkflowResponse'
        '400':
          description: Unsupported or malformed incorporation selection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '401':
          description: Missing or invalid partner API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '404':
          description: Status workflow is not available or active for the requested selection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
  /partner/incorporation/companies/{companyId}/incorporations:
    post:
      summary: Create an incorporation
      description: Create an incorporation for a partner-owned company without creating or returning a payment intent. You may include initial partial intake data.
      operationId: createPartnerIncorporation
      servers:
        - url: https://api.prod.commenda.io/api/v1
      security:
        - xApiKeyAuth: []
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: integer
          description: Company that should own the incorporation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerCreateCompanyScopedIncorporationRequest'
            examples:
              singaporePrivateLimited:
                summary: Singapore private limited company
                value:
                  country: SG
                  countryOptions:
                    corporationType: PRIVATE_LIMITED_COMPANY
      responses:
        '201':
          description: Incorporation created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerIncorporationResponse'
        '400':
          description: Unsupported country or invalid country options
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '401':
          description: Missing or invalid partner API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '403':
          description: Company is not accessible to the partner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
    get:
      summary: List incorporations for a company
      description: List incorporations visible to the authenticated partner for a single company.
      operationId: listPartnerIncorporations
      servers:
        - url: https://api.prod.commenda.io/api/v1
      security:
        - xApiKeyAuth: []
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: integer
          description: Company whose incorporations should be listed.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
          description: Maximum number of incorporations to return.
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
          description: Number of matching incorporations to skip.
      responses:
        '200':
          description: Incorporations retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerIncorporationListResponse'
        '400':
          description: Invalid pagination parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '401':
          description: Missing or invalid partner API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '403':
          description: Company is not accessible to the partner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
  /partner/incorporation/companies/{companyId}/incorporations/{incorporationId}:
    get:
      summary: Get an incorporation
      description: Retrieve one incorporation visible to the authenticated partner.
      operationId: getPartnerIncorporation
      servers:
        - url: https://api.prod.commenda.io/api/v1
      security:
        - xApiKeyAuth: []
      parameters:
        - name: companyId
          in: path
          required: true
          schema:
            type: integer
          description: Company that owns the incorporation.
        - name: incorporationId
          in: path
          required: true
          schema:
            type: string
          description: Incorporation identifier returned by the create or list endpoint.
      responses:
        '200':
          description: Incorporation retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerIncorporationResponse'
        '401':
          description: Missing or invalid partner API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '403':
          description: Company or incorporation is not accessible to the partner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '404':
          description: Incorporation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
  /partner/incorporation/{incorporationId}:
    get:
      summary: Get an incorporation
      description: Retrieve one incorporation visible to the authenticated partner. Use this direct route for intake state reads.
      operationId: getPartnerIncorporationById
      servers:
        - url: https://api.prod.commenda.io/api/v1
      security:
        - xApiKeyAuth: []
      parameters:
        - name: incorporationId
          in: path
          required: true
          schema:
            type: string
          description: Incorporation identifier returned by create or list endpoints.
      responses:
        '200':
          description: Incorporation retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerIncorporationResponse'
        '401':
          description: Missing or invalid partner API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '403':
          description: Incorporation is not accessible to the partner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '404':
          description: Incorporation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
  /partner/incorporation/{incorporationId}/status:
    get:
      summary: Get incorporation status
      description: Retrieve the current public status projection for an incorporation, including top-level status, ordered stages, and active blocking issue ids.
      operationId: getPartnerIncorporationStatus
      servers:
        - url: https://api.prod.commenda.io/api/v1
      security:
        - xApiKeyAuth: []
      parameters:
        - name: incorporationId
          in: path
          required: true
          schema:
            type: string
          description: Incorporation identifier returned by create or list endpoints.
      responses:
        '200':
          description: Incorporation status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerIncorporationCaseStatusResponse'
        '401':
          description: Missing or invalid partner API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '403':
          description: Incorporation is not accessible to the partner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '404':
          description: Incorporation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
  /partner/incorporation/{incorporationId}/intake:
    post:
      summary: Update incorporation intake
      description: Update partial or complete requirement data for an incorporation. Each write returns the updated intake state and validation summary.
      operationId: updatePartnerIncorporationIntake
      servers:
        - url: https://api.prod.commenda.io/api/v1
      security:
        - xApiKeyAuth: []
      parameters:
        - name: incorporationId
          in: path
          required: true
          schema:
            type: string
          description: Incorporation identifier returned by create or list endpoints.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerUpdateIntakeRequest'
      responses:
        '201':
          description: Intake update accepted and validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerIncorporationIntakeResponse'
        '400':
          description: Malformed intake payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '401':
          description: Missing or invalid partner API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '403':
          description: Incorporation is not accessible to the partner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '404':
          description: Incorporation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
  /partner/incorporation/{incorporationId}/submit:
    post:
      summary: Submit an incorporation
      description: Submit a currently complete incorporation for Commenda review and start the dedicated partner incorporation workflow. The server refreshes validation before accepting the submit request. `intakeState.validation.isComplete` means eligible to submit; `submitted` or `in_progress` is returned only after this endpoint succeeds.
      operationId: submitPartnerIncorporation
      servers:
        - url: https://api.prod.commenda.io/api/v1
      security:
        - xApiKeyAuth: []
      parameters:
        - name: incorporationId
          in: path
          required: true
          schema:
            type: string
          description: Incorporation identifier returned by create or list endpoints.
      responses:
        '200':
          description: Incorporation submitted for review
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerIncorporationResponse'
        '400':
          description: Incorporation is incomplete or has invalid requirements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerIncorporationSubmitError'
        '401':
          description: Missing or invalid partner API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '403':
          description: Incorporation is not accessible to the partner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '404':
          description: Incorporation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
  /partner/incorporation/{incorporationId}/files:
    post:
      summary: Register an incorporation file
      description: Register a company-scoped Commenda file to the incorporation context and return a `fileId` that can be linked as a participant document. This endpoint does not upload binary content.
      operationId: registerPartnerIncorporationFile
      servers:
        - url: https://api.prod.commenda.io/api/v1
      security:
        - xApiKeyAuth: []
      parameters:
        - name: incorporationId
          in: path
          required: true
          schema:
            type: string
          description: Incorporation identifier returned by create or list endpoints.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerRegisterFileRequest'
      responses:
        '201':
          description: File registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerRegisterFileResponse'
        '400':
          description: Malformed file registration payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '401':
          description: Missing or invalid partner API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '403':
          description: Incorporation is not accessible to the partner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '404':
          description: Incorporation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
  /partner/incorporation/{incorporationId}/participants:
    get:
      summary: List incorporation participants
      description: List reusable Commenda OS people or business entities registered as participants in this incorporation, including their roles and linked documents.
      operationId: listPartnerIncorporationParticipants
      servers:
        - url: https://api.prod.commenda.io/api/v1
      security:
        - xApiKeyAuth: []
      parameters:
        - name: incorporationId
          in: path
          required: true
          schema:
            type: string
          description: Incorporation identifier returned by create or list endpoints.
      responses:
        '200':
          description: Participants retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerIncorporationParticipantsResponse'
        '401':
          description: Missing or invalid partner API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '403':
          description: Incorporation is not accessible to the partner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '404':
          description: Incorporation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
    post:
      summary: Register an incorporation participant
      description: Register a reusable Commenda OS key person or business entity as an incorporation participant with roles such as director or shareholder. This endpoint creates the incorporation-specific role registration; KYC checks, e-signature execution, and document review are future extensions and are not performed by this endpoint.
      operationId: registerPartnerIncorporationParticipant
      servers:
        - url: https://api.prod.commenda.io/api/v1
      security:
        - xApiKeyAuth: []
      parameters:
        - name: incorporationId
          in: path
          required: true
          schema:
            type: string
          description: Incorporation identifier returned by create or list endpoints.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerRegisterParticipantRequest'
      responses:
        '201':
          description: Participant registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerIncorporationParticipantResponse'
        '400':
          description: Malformed participant registration payload, invalid participant/resource/role combination, or missing shareholder ownership percentage
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '401':
          description: Missing or invalid partner API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '403':
          description: Incorporation is not accessible to the partner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '404':
          description: Incorporation or referenced Commenda OS resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
  /partner/incorporation/{incorporationId}/documents:
    post:
      summary: Link a participant document
      description: Link a registered incorporation file to a participant as a typed document required by the current requirements DSL. Calling this endpoint again with the same participantId and documentKind replaces the linked fileId.
      operationId: linkPartnerIncorporationParticipantDocument
      servers:
        - url: https://api.prod.commenda.io/api/v1
      security:
        - xApiKeyAuth: []
      parameters:
        - name: incorporationId
          in: path
          required: true
          schema:
            type: string
          description: Incorporation identifier returned by create or list endpoints.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnerLinkParticipantDocumentRequest'
      responses:
        '201':
          description: Participant document linked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerIncorporationParticipantDocumentResponse'
        '400':
          description: Malformed document link payload, incompatible file type, or file not registered to this incorporation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '401':
          description: Missing or invalid partner API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '403':
          description: Incorporation is not accessible to the partner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '404':
          description: Incorporation, participant, or file not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
  /public/payment-intents:
    get:
      summary: List payment intents for an affiliate
      description: List payment intents visible to the authenticated affiliate, optionally filtered by status or company.
      operationId: listAffiliatePaymentIntents
      servers:
        - url: https://api.prod.commenda.io/api/v1
      security:
        - xApiKeyAuth: []
      parameters:
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/AffiliatePaymentIntentStatus'
        - name: companyId
          in: query
          required: false
          schema:
            type: integer
          description: Filter payment intents to a single company.
      responses:
        '200':
          description: Payment intents retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateListPaymentIntentsResponse'
        '400':
          description: Invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '401':
          description: Missing or invalid affiliate API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
  /public/payment-intents/{paymentIntentId}:
    get:
      summary: Get one payment intent
      description: Retrieve a single payment intent and its linked service request handoff URL.
      operationId: getAffiliatePaymentIntent
      servers:
        - url: https://api.prod.commenda.io/api/v1
      security:
        - xApiKeyAuth: []
      parameters:
        - name: paymentIntentId
          in: path
          required: true
          schema:
            type: string
          description: Payment intent identifier returned by `POST /public/services`.
      responses:
        '200':
          description: Payment intent retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePaymentIntent'
        '401':
          description: Missing or invalid affiliate API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '403':
          description: Payment intent is not accessible to the affiliate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '404':
          description: Payment intent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
  /public/payment-intents/{paymentIntentId}/service/status:
    get:
      summary: Get service status for a payment intent
      description: Retrieve the linked service request summary and task-group level status for a payment intent.
      operationId: getAffiliatePaymentIntentServiceStatus
      servers:
        - url: https://api.prod.commenda.io/api/v1
      security:
        - xApiKeyAuth: []
      parameters:
        - name: paymentIntentId
          in: path
          required: true
          schema:
            type: string
          description: Payment intent identifier returned by `POST /public/services`.
      responses:
        '200':
          description: Service status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePaymentIntentServiceStatusResponse'
        '401':
          description: Missing or invalid affiliate API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatePublicError'
        '403':
          description: Service request is not accessible to the affiliate
          content:
            application/json:
[...]
